* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

textarea {
  resize: none;
}

.error::-webkit-input-placeholder {
  color: red;
}

.error:-ms-input-placeholder {
  color: red;
}

.error::-ms-input-placeholder {
  color: red;
}

.error::placeholder {
  color: red;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: auto;
  max-width: 60rem;
  color: #d8edea;
  background: radial-gradient(circle, #afc4ae 0%, #68ccbf 89%, #5ebfb2 100%);
}

header {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div {
  margin-right: 2rem;
  height: 4rem;
  width: 4rem;
}

header div img {
  height: 100%;
  width: 100%;
}

header h1 {
  font-size: 1.5rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-area {
  margin: 0.5rem;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  color: #276873;
  background-color: azure;
  border-radius: 0.5rem;
  border: 1px solid #276873;
}

@media (max-width: 600px) {
  .text-area {
    width: 95vw;
  }
}

@media (max-width: 600px) {
  .buttons-encriptar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.btn {
  margin: 1rem;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
          box-shadow: 0px 10px 14px -7px #276873;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #599bb3), to(#408c99));
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #408c99), to(#599bb3));
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.btn:active {
  position: relative;
  top: 1px;
}

.text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  margin-top: 1rem;
  text-align: center;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

footer div div {
  width: 2rem;
  height: 2rem;
}

footer div div img {
  height: 100%;
  width: 100%;
}

@media (min-width: 1200px) {
  .main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

span {
  font-size: 0.5rem;
  color: black;
}
/*# sourceMappingURL=styles.css.map */